# {{ ansible_managed }}

proto {{ "tcp-server" if openvpn_server_proto == "tcp" else "udp" }}
port {{ openvpn_server_port }}
dev {{ openvpn_server_dev }}
dev-type {{ openvpn_server_dev_type }}

ca {{ openvpn_server_home }}/pki/ca.crt
cert {{ openvpn_server_home }}/pki/{{ inventory_hostname }}.crt
key {{ openvpn_server_home }}/pki/private/{{ inventory_hostname }}.key
dh {{ openvpn_server_home }}/dh.pem
tls-auth {{ openvpn_server_home }}/pki/private/ta.key 0

user {{ openvpn_server_user }}
group {{ openvpn_server_group }}

mode server
tls-server
client-to-client

keepalive 5 60
comp-lzo
persist-key
persist-tun

status {{ openvpn_server_home }}/openvpn-status.log
mute 20
